* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:#666;
  font-family: arial,sans-serif;
}
a:hover{
  text-decoration: underline;
}
body {
  background-image: url("https://www.google.ca/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
  background-repeat: no-repeat;
  background-position: 50% 190px;
}
.Canada{
  text-align:center;
  padding-top:220px;
  padding-left:213px;
  font: 16px/16px roboto-regular, arial, sans-serif;
  color: #4285f4;
}

.SearchBar{
  padding-top:20px;
  text-align:center;
}
.SearchBarInput{
  height: 38px;
  width:560px;
  border:1px solid #ededed ;
  box-shadow: 0px 4px 4px -4px #5e5e5e;
  border-radius: 2px;
  font-size: 18px;
}
.Buttons{
text-align: center;
padding: 30px;
}
.SearchButton{
  font-family: arial,sans-serif;
  font-size: 13px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  padding: 10px 16px;
  font-weight: bold;
}
.LuckyButton{
  font-family: arial,sans-serif;
  font-size: 13px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  padding: 10px 16px;
  font-weight: bold;

}
.FrenchOffer{
  text-align: center;
  font-family: arial,sans-serif;
  font-size: small;
}
.TopBar{
  text-align: right;
  padding-right: 30px;
  padding-top: 10px;
  font-family: arial,sans-serif;
  font-size: 13px;


}
#Gmail{
  color: black;
  text-decoration: none;
  padding-right: 2px;
}
#Images{
  color: black;
  text-decoration: none;
  padding-right: 4px;
}
#Gmail:hover{
  text-decoration: underline;
}
#Images:hover{
  text-decoration: underline;
}
.Gmail{
  display: inline-block;
  margin: 10px;
}
.Images{
  display: inline-block;
}
.UserIcon{
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;

}
#UserIcon{
  border-radius: 50%;
  width: 32px;
  height: 32px;

}

.FrenchLink{
text-decoration: none;
color:blue;


}
.BottomBar{
  position: absolute;
  bottom: 0px;
  background-color: #f2f2f2;
  width: 100%;
  height: 42px;
  border-top: 1px solid #e4e4e4;

}
#LeftFooter{
  position: absolute;
  top: 12px;
}
#RightFooter{
position: absolute;
right:25px;
top: 12px;
}
.Advertising{
margin-right: 30px;
margin-left: 20px;
font-size: 10pt;
}
.Business{
margin-right: 30px;
font-size: 10pt;

}
.About{
margin-right: 30px;
font-size: 10pt;
}
.Privacy{
margin-right: 30px;
font-size: 10pt;
}
.Terms{
margin-right: 30px;
font-size: 10pt;
}
.Settings{
margin-right: 30px;
font-size: 10pt;
}
.Google{
margin-right: 10px;
font-size: 10pt;
}
