body {
  background-image: url("https://www.google.ca/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
  background-repeat: no-repeat;
  background-position: 50% 190px;
}
.Canada{
  text-align:center;
  padding-top:257px;
  padding-left:213px;
  font: 16px/16px roboto-regular, arial, sans-serif;
  color: #4285f4;
}

.Search{
  padding-top:20px;
  text-align:center;
}
.Search2{
  height: 38px;
  width:560px;
  border:1px solid #ededed ;
  box-shadow: 0px 4px 4px -4px #5e5e5e;
  border-radius: 2px;
  font-size: 18px;
}
.Buttons{
text-align: center;
padding: 30px;
}
.SearchButton{
  font-family: arial,sans-serif;
  font-size: 13px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  padding: 10px 16px;
  font-weight: bold;
}
.LuckyButton{
  font-family: arial,sans-serif;
  font-size: 13px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  padding: 10px 16px;
  font-weight: bold;

}
.FrenchOffer{
  text-align: center;
  font-family: arial,sans-serif;
  font-size: small;
}
a{
  text-decoration: none;
}
